
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}


#titlepage {
width:100vw;
	position:relative;
    height:100vh;
    background-image:url(2.jpg);
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-attachment:relative;
    overflow-y:hidden
}
#profilepage {
width:100vw;
	position:relative;
    height:100vh;
    background:#f6f2ec;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-attachment:relative;
    overflow-y:hidden
}
h1 {
  font-family: sans-serif;
  color: #ffffff;
  margin-top: 20vh;
  text-align: center;
  vertical-align: middle;
}

/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #ffffff;
}

/* selected link */
a:active {
    color: #ffffff;
}
