
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}


#titlepage {
width:100vw;
	position:relative;
    height:100vh;
    background-image:url(2.jpg);
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-attachment:relative;
    overflow-y:hidden
}
#profilepage {
width:100vw;
	position:relative;
    height:100vh;
    background:#f6f2ec;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-attachment:relative;
    overflow-y:hidden
}
h1 {
  font-family: sans-serif;
  color: #ffffff;
  margin-top: 20vh;
  text-align: center;
  vertical-align: middle;
}

/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #ffffff;
}

/* selected link */
a:active {
    color: #ffffff;
}
.demo-2 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}
